
.carreira {
    margin-top: 40px;
}
.carreira-intro {

}

.carreira-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.carreira-texto {
    font-size: var(--tamanho-fonte-4);
    line-height: 26px;

}

.carreira-texto-titulo{
    font-size: var(--tamanho-fonte-2);
    color: var(--cor-marcacao);
    text-align: center;

}

.carreira-texto-paragrafo{
    font-size: var(--tamanho-fonte-3);
    margin-bottom: 30px;
    text-align: center;
    margin-top: 16px;
    
}
.carreira-texto-paragrafo a{
    color: var(--cor-marcacao);
}

.carreira-lista-item-titulo{
    font-size: var(--tamanho-fonte-3);
    color: var(--cor-substitulo);
}

.carreira-lista {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.carreira-lista-item {

    text-align: center;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carreira-lista-imagem{
    max-width: 600px;
    align-self: center;

}

.video { 
    width: auto;
    max-height: 300px;
    object-fit: cover;
}

.videos-guitarra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 600px;
}

video {
    margin: 10px;
}
.novidades{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor-marcacao);
    border-radius: 10px;
    padding: 1em;
    max-width: 40%;
}
.novidades h2{
    font-size: var(--tamanho-fonte-1);
}
.novidades a{
    display: block;
    margin: 10px 0 30px 0px;
    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-2);
    border: 2px solid var(--cor-marcacao);
    padding: 0.5em;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
}   
.novidades a:hover {
    box-shadow: 0 0 10px var(--cor-marcacao);
}