
.carreira {
    margin-top: 40px;
}
.carreira-intro {

}

.carreira-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.carreira-texto {
    font-family: 'krona one', sans-serif;
    font-size: 1rem;
    line-height: 26px;

}

.carreira-texto-titulo{
    
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-align: center;

}

.carreira-texto-paragrafo{
    font-size: 1.25rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 16px;
    
}
.carreira-texto-paragrafo a{
    color: var(--cor-substitulo);
}

.carreira-lista-item-titulo{
    font-size: 1.25rem;
    color: var(--cor-substitulo);
}

.carreira-lista {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.carreira-lista-item {

    text-align: center;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carreira-lista-imagem{
    max-width: 600px;
    align-self: center;

}

.video { 
    width: auto;
    max-height: 300px;
    object-fit: cover;
}

.videos-guitarra{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 600px;
}

video {
    margin: 10px;
}