
/* Formulário */
.titulo-formulario{
    font-size: var(--tamanho-fonte-1);
    text-align: center;
    margin: 1em 0 ;
    color: var(--cor-branco);
}
.lista-mercado{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    background: var(--cor-fundo-formulario);
    color: var(--cor-escura) ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--cor-verde-sombra);
}
.nomeItem{
    font-size: var(--tamanho-fonte-2);
}

.quantidadeItem{
    font-size: var(--tamanho-fonte-3);
    align-self: center;
    
}
.entradas{
    padding: 10px 10px ;
    min-width: 100px;
    border-radius: 10px;
    text-transform: lowercase;
}
.botaoFormulario {
    background: var(--cor-botao-enviar);
    color: var(--cor-branco);
    padding: 10px 0;
    border-radius: 10px;
}
.botaoFormulario:active {
    background: var(--cor-branco);
}
.quantidadeTipo{
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.quantidadeTipo input {
    max-width: 30px;
}
/* Lista */
.lista-itens{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    background-color: var(--cor-fundo-formulario);
    border-radius: 10px;
    padding: 30px;
    color: var(--cor-escura);
    box-shadow: 0px 0px 10px var(--cor-verde-sombra);
}
.lista-item {

    padding: 10px;
    border-radius: 10px;
    background: var(--cor-branco);
    border: 1px solid var(--cor-escura);
    text-align: center;
}
.item-texto{
    text-transform: uppercase;
    font-weight: 700;
}
.lista-itens strong {
    font-weight: 700;
    background: var(--cor-escura);
    padding: 3px;
    border-radius: 10px;
    margin: 0 10px;
    color: var(--cor-branco);

}

.botaoDeleta{
    background: var(--cor-botao-deletar);
    padding: 0.3em 1em;
    margin-left: 1em;
    border-radius: 1em;
}