@media(max-width:750px){
    *{
        margin: 0;
        padding: 0;
    }

.principal{
    width: 500px;
    gap: 40px;
    margin: 0 5%;
}
.intro{
    flex-direction: column;
}
.intro-texto {
    display: block;
    width: 100%;
    text-align: center;
}
.intro-texto-botoes-titulo{
    display: block;
    margin: 30px 0 15px 0;
    font-size: 1.25rem;
}
.video {
    max-width: 500px;
}
.carreira-lista-item {
    max-width: 500px;
}
.carreira-lista-imagem{
    max-width: 500px;
}

}

@media (max-width:450px) {

    .principal {
        width: 360px;
    }
    .intro {
        max-width: 360px;
        box-sizing: border-box;
        gap: 30px;
    }
    .intro-texto {
        max-width: 360px;
        gap: 10px;
        
    }
    .intro-texto-titulo {
        
        font-size: 1.5rem;
    }
    .intro-texto-paragrafo {
        font-size: 1rem;
        display: block;
        box-sizing: border-box;
        align-self: center;
    }
    .carreira-lista-item {
        max-width: 360px;
    }
    .carreira-lista-item-paragrafo{
        display: block;
        align-self: center;
    }
    .btn-link{
        width: 120px;
        height: fit-content;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        scale: 0.7;
    }
    .intro-texto-botoes{
        justify-content: center;
    }
    .carreira-lista-item {
        max-width: 360px;
    }
    .video {
        max-width: 360px;
    }
    
    .carreira-lista-imagem{
        max-width: 360px;
    }
}