
body {
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.principal{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 300px;
}


.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
}
.intro-texto {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-top: 5%;
    width: 50%;

}
.intro-texto-titulo{

    font-size: 2rem;
    line-height: 56px;
    font-family: 'Krona One',sans-serif;
}
.intro-texto-paragrafo{
    font-family: 'montserrat',sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
.intro-texto-botoes{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.intro-texto-botoes-titulo{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'krona one', sans-serif;
}


.btn-link{
    font-family: 'montserrat',sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    background: transparent;
    border: 2px solid #33eebb;
    text-decoration: none;
    width: 200px;
    height: 50px;
    border-radius: 16px;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.btn-link:hover {
    transition: 500ms;
    box-shadow: 10px 10px 15px var(--cor-terciaria);
    scale: 1.05;
    border: 2px solid var(--cor-quartenaria);
}
.intro-imagem {
    width: 50%;   
    max-width: 400px;
}
.rodape {
    background: var(--cor-terciaria);
    margin-top: 30px;

    
}
.rodape-texto {
    color:  var(--cor-quartenaria);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 36px;
}
